html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }

*{
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}  
body
{
    max-width: 100%;
    overflow-x: hidden;
    /* background-color: #EFF8FF; */
    font-family: 'Fjalla One';
    font-weight: normal;
    color: #223668; 
}

/* header */

.header
{
    text-align: center;
    margin-top: 5px;
    
}
.header-upper
{
    border-bottom: 1px solid  #DEE7EC;
    padding: 5px;
    background: #F2F4F4;
}
.header .header-top-left
{
    text-align: left;
    margin-right: -15px;
    margin-left: -15px;

}
.header-top-right
{
    display: flex;
    justify-content:flex-end; 
}
.header-top-right a
{
    flex: 33%;
    margin-left: 15px;
    border-left: 1px solid #D5E0E7;
    color: #525661;

    /**/
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: capitalize;

}
.header-footer
{
    margin-top: 10px;
    margin-left: 30px;
    /**/
    background: #FFFFFF;

}
.header-footer-left
{
    text-align: left;
    margin-left: 15px;
}
.header-footer-center
{
    margin-left: 10px;
    /**/
    color:#25272B;
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.header-footer ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.header-footer li
{
    float: left;
    padding: 5px;
    margin: 0 auto;
    margin-left: 10px;
    text-transform: uppercase;

}
.header-footer-right
{
    margin-left:60px;
}
.header-footer-right a
{
    /**/
    border-left: 1px solid #DEE7EC;
    margin-top: 5px;

}
.header-footer-right .active
{
    background: #3E72F9;
    padding: 5px;
    color: white;
}
.header-footer-right .icon-add-to-cart::before
{
    color: white;
}
.slide-image img
{
    width: 100%;
    height: 450px;
    margin-left: 6px;

}
section .slide-image
{
    position: relative;
}
section .info-block
{
    position: absolute;
    left: 100px;
    top: 250px;
    background: linear-gradient(90deg, #3E72F9 0%, rgba(62, 114, 249, 0) 70.31%);
    border-radius: 10px 0px 0px 10px;
    color: white;
    height: 150px;
    width: 300px;

}
.info-block a
{
    position: initial;
    margin-left: 80px;
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 5px;
   
}
.info-block-button
{
    margin-top: 20px;
}

.info-block .icon-add-to-cart::before
{
  color: white;
  margin-left: 5px;
}

.slide-image .info-block h2
{
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.slide-image .info-block p
{
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
}
.image-arrow
{
    position: absolute;
    bottom: 100px;
    right: 20px;
}
.image-arrow a
{
    background: #3E72F9;
    margin-left: 1px;
    padding: 5px;
}
.image-arrow .icon-left-arrow
{
    opacity: 0.25;
}

.image-arrow .icon-left-arrow::before,.image-arrow .icon-right-arrow::before
{
    color: white;
}



/* body start with flex */

.box { 
    
    display: flex; 
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 2px 3px 8px 1px rgba(142, 151, 159, 0.15);
    margin: 10px 5px 5px 0px;
    height: 130px;

}

.box img
{
    margin-left: 10px;
}
.box .box-body h2
{
    margin-left: 20px;
    text-transform: capitalize;
}
.box .box-body .box-item
{
    margin-left: 20px;
    border: 1px solid #3E72F9;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:#FFFFFF;
    color:#3E72F9;
    padding: 5px;
}
.box-body P
{
    margin-left: 20px;
    margin-top: 5px;
}
.box-item
{
    margin-top: 2px;
    float: left;
    color:#3E70F9;
    margin-top: 5px;
}
.box-item .icon-add-to-cart::before
{
    color:#3E70F9;
}

/* level 2 box*/

/* first element */
.box-level-2
{
    margin-top: 30px;
}
.box-2
{
    display: flex;
    align-items: flex-start;
    text-align: center;
    color: #d9d9d9;
}
.box-2 img
{
    width: 250px;
    height: 320px;
}
.box-bottom-2
{
    align-items: flex-end;   
}
.box-2-caption
{
    position: absolute;
    word-break: break-word;
    background-color:#3E70F9;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 40px;
}

/* Second element */
.box-2_border
{
    margin-left: -43px;
    margin-right: 21px;
    border: 1px solid #E7E7E7;
}
.box-2_border-top
{
    padding: 10px;
}
.box-2_border-top ul 
{
    color: black;
    list-style-type: none;
}
.box-2_border-top li
{
    float: left;
    margin-left: 15px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 10px;
}

.box-2_border-top .active
{
    background-color: #3E70F9;
    color: white;
}

.box-2_border-arrow
{
    float: right;
    margin-left: 110px;
    margin-top: -30px;
}
.box-2_border-arrow a
{
    border: 1px solid#3E70F9;
    margin: 5px;
    padding: 3px;
}
.box-2_border-arrow .icon-left-arrow::before
{
    color:#3E70F9;
}
.box-2_border-arrow .icon-right-arrow::before
{
    color: white;
}
.box-2_border-footer
{
    border: 1px solid #E7E7E7;
}
.box-2_border-footer img
{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    padding: 10px;
}

.box-2_border-footer_2
{

    border: 1px solid #E7E7E7;
    padding: 11px;
    margin-top: -1px;
    margin-right: -50px; 
 
}
.box-2_border-footer_2 img
{
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
.box-2_border-footer-item
{
    float: left;
}
.box-2_border-footer-item-text
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: left;
}
.box-2_border-footer-item-price
{
    margin-top: 5px;
    text-align: center;
    color: #0275d8;
    font-weight: bold;

}
/* thrid element */
.box-bottom-2_3
{
    align-items: flex-end;  
}
.box-bottom-2_3 img
{
    width: 388px;
}

.box-2-caption_3
{
    position: absolute;
    word-break: break-word;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 70px;
    padding: 10px;
    margin-left: 80px;
}
.box-2-caption-button
{
    position: absolute;
    word-break: break-word;
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 10px;
    margin-left: 130px;
    border: 1px solid#3E70F9;
    background-color: #3E70F9;
    border-radius: 5px;
}
.box-item-2
{
    color: white;
}
.box-item-2 .icon-add-to-cart::before
{
    color: white;
}

/* features part*/

.body-features
{
    margin-top: 20px;
    width: 100%;
    padding:15px ;
    /* margin-right: -60px; */
    height: 320px;
    background-color: rgb(9, 9, 189);
    background-image: url("../../images/product/feature_bg.png");
    mix-blend-mode: multiply;
    
}
.body-features h3
{
    color: black;
    text-transform: uppercase;
}
.body-features .features-arrow
{
    position: relative;
    left: 850px;
    top: 10px;
}
.body-features .features-arrow a
{
    margin-left: 5px;
}

.body-features .features-arrow .icon-left-arrow::before
{
    background-color: white;
    color:#0275d8;
    padding: 3px;
}
.body-features .features-arrow .icon-right-arrow::before
{
    background-color: black;
    color: white;
    padding: 4px;
}
.features-card
{
    margin-top: 35px;
    margin-left: -260px;
}

.features-single-card
{
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 270px;
    margin-left: 10px;
}
.features-top-text
{
    margin-left: 5px;
    margin-top: 15px;
    height: 20px;
    width: 40px;
    background-color: tomato;
    color: white;
    border-radius: 3px;
    
}
.features-single-card img
{
    margin-left: 12px;
    margin-top: 5px;
}
.features-body-text
{
    text-align: center;
}
.features-body-price
{
    text-align: center;
    color: #0275d8;
}

/* second card*/

.features-card-2
{
    margin-top: 35px;
    margin-left: 30px;
}
.features-top-text-2
{
    margin-left: 5px;
    margin-top: 5px;
    height: 20px;
    width: 40px;
    background-color: green;
    color: rgb(24, 22, 22);
    border-radius: 3px;

}
/* Third card*/
.features-card-3
{
    margin-top: 35px;
    margin-left: 30px;
}
.features-top-text-3
{
    margin-left: 5px;
    margin-top: 5px;
    height: 20px;
    width: 80px;
    background-color: rgb(196, 196, 11);
    color: white;
    border-radius: 3px;
}

/* 4th card*/

.features-card-4
{
    margin-top: 35px;
    margin-left: 30px;
}

/* fitth card*/
.features-card-5
{
    margin-top: 35px;
    margin-left: 30px;
}

/* best seller part*/
.body-seller
{
    margin-top: 20px;
    width: 100%;
    padding:15px ;
    /* margin-right: -60px; */
    height: 320px;
    background-color: #E5E5E5;
}

.body-seller h3
{
    color: #333333;
    text-transform: uppercase;
}
.body-seller .features-arrow
{
    position: relative;
    left: 920px;
    top: 5px;
}
.body-seller .features-arrow a
{
    margin-left: 5px;
}

.body-seller .features-arrow .icon-left-arrow::before
{
    background-color: white;
    color: #3E70F9;
    padding: 3px;
    border: 1px solid#3E70F9;
}
.body-seller .features-arrow .icon-right-arrow::before
{
    background-color: #3E70F9;
    color: white;
    padding: 4px;
}
.seller-single-card
{
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 270px;
    margin-left: 100px;
}
.seller-single-card img
{
    margin-left: 10px;
    background-image: url("../../images/seller/Rectangle 68.png");
    transform: rotate(-180deg); 
}
.after-selling
{
    margin-top: 20px;
}
.after-selling img
{
    width: 99%;
    height: 300px;
    position: relative;
}
.snow-items
{
    position: absolute;
    margin-top: -120px;
    margin-left: 300px;
    
}
.snow-items .snow-text
{
    color:rgb(255, 255, 255);
    /* background-color: #3E70F9; */
    text-transform: uppercase;
}
.snow-items .snow-block-button
{
    margin-top: 10px;
    margin-left: 60px;
}
.snow-items .snow-block-button a
{

    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.snow-items .snow-block-button .icon-add-to-cart::before
{
    color: white;
}

/* manufecturers*/

.manufacturers
{
    margin-top: 30px;
}
.manufacturers h3
{
    text-transform: uppercase;
    color: black;
}
.manufacturers-card
{
    margin-top: 10px;

}
.manufacturer-single-card
{
    position: relative;
}
.manufacturer-single-card img
{
    width: 98%;
    margin-right: 10px;
}
.manufacturer-item
{
    position: absolute;
    margin-top: -20px;
    margin-left: 90px;
    border: 1px solid #0275d8;
    padding: 5px;
    background-color: #0275d8;
    color: white;
    border-radius: 5px;
}
.manufacturers-arrow
{
    position: relative;
    left: 1080px;
    top: -20px;
}
.manufacturers-arrow a
{
    margin-right: 5px;

}

.manufacturers-arrow .icon-left-arrow::before
{
    background-color: white;
    color:#0275d8;
    padding: 3px;
    border: 1px solid #0368c0;
}
.manufacturers-arrow .icon-right-arrow::before
{
    background-color:#0368c0;
    color: white;
    padding: 4px;
}

/* blogs part */

.blogs
{
    margin-top: 50px;
    height: 450px;
    margin-left: -25px;
    background-color: #F1F4F9;
}
.blogs h3
{
    margin-left: 15px;
    margin-top: 50px;
    text-transform: uppercase;
}

.single-blog-card
{
    width: 85%;
    height: 350px;
    margin-top: 30px;
    float: left;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
.single-blog-card img
{
    width: 100%;
    height: 170px;
}
.single-blog-item-top
{
    background-color: #3E70F9;
    color: white;
    padding: 5px;
    margin-top: -5px;
}
.single-blog-item-top span
{
    margin-left: 5px;
}
.single-blog-item-top div span
{
    text-decoration: underline;
}
.single-blog-item-bottom
{
    text-align: justify;
}
.single-blog-item-bottom p
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.single-blog-item-bottom a
{
    text-decoration: underline;
    margin-left: 10px;
}
/* news start*/
.news h3{
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

 .news-card-single
{
    margin-top: 30px;
    margin-right: 10px;
    width: 98%;
    height: 340px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   
}
.news-card-single img
{
    width: 100%;
    margin-bottom: 10px;
}
.news-card-items span
{
    color: #3E70F9;
    margin-left: 30px;
}
.news-card-items p
{
   color: black;
   margin-left: 30px;
   margin-top: 10px;
} 

/* bottom box*/

.bottom-box
{
    margin-top: 50px;
}
.single-bottom-box
{
    border:1px solid #EAEDF2;
    background-color:#3E70F9;
    width: 90%;
    padding: 10px;
    height: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}
.single-icons
{
    margin-top: 40px;
}

.single-icons a
{
    padding: 15px;
    background-color: white;
    /* border-radius: 25px; */
    box-shadow: 0px 5px 10px rgba(97, 145, 247, 0.2);
    border-radius: 25px;
    margin-left: 30px;


}
.single-bottom-box .icon-delivery::before
{
    color: #3E70F9;
}
.single-bottom-box-items
{
    color: white;
}
.single-bottom-box-items h5
{
    text-transform: uppercase;
    margin-bottom: 5px;
    font: Fjalla One;
    font-size: 14px;
}
.single-bottom-box-items p
{
    text-align: left;
}
/* footer start */

.footer
{
    margin-top: 70px;
    background-color: black;
    width: 100%;
    height: 550px;
    color: white;
}
.footer-start
{
    padding: 30px;
}
.footer-start-items
{
    margin-left: 150px;
}
.footer-start-items h2
{
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer-start-items input
{
    margin-left: -100px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}
.footer-start-items a
{
    position: absolute;
    margin-left: -35px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #0275d8;
    border-radius: 15px;
    background-color: #0275d8;
}
.footer-start-items .icon-email::before
{
    color: white;
}
.footer-body
{
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 100%;
}
.footer-body h3
{
    margin-bottom: 20px;
    color: #0275d8;
}
.find-us ul
{
    list-style-type: none;
}

.find-us li
{
    float: left;
    margin-top: 10px;
   text-align: center;
    color: white;
}
.find-us .icons
{
    margin-right: 15px;
}
.find-us .icon-location
{
    margin-left: -15px;
}
.icons::before
{
    color: #0275d8;
}
.footer-li ul
{
    list-style-type: none;

}
.footer-li li
{
    margin-top: 8px;
}
.socal-media ul
{
    margin-top: 50px;
    margin-left: 20px;
    list-style-type: none;
}
.socal-media li
{
    float: left;
    margin-left: 15px;
}
.socal-media a
{
    border: 1px solid#0275d8;
    border-radius: 15px;
    padding: 8px;
}
.footer-footer
{
    margin-top: 30px;
}
.footer-footer img
{
    width: 100px;
}

